In [31]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [32]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/website-data/master/dataset.csv")

In [33]:
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [34]:
data.describe()

                                                     Text  language
count                                               22000     22000
unique                                              21859        22
top     haec commentatio automatice praeparata res ast...  Estonian
freq                                                   48      1000

In [21]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [22]:
data["language"].value_counts()

language
Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: count, dtype: int64

In [23]:
data.count()

Text        22000
language    22000
dtype: int64

In [24]:
x = np.array(data["Text"])
y = np.array(data["language"])

cv = CountVectorizer()
x = cv.fit_transform(x)
x_train , x_test ,y_train ,y_test = train_test_split(x,y,test_size=0.33 ,
                                                    random_state=42)

In [25]:
model = MultinomialNB()
model.fit(x_train ,y_train)
model.score(x_test ,y_test)

0.953168044077135

In [28]:
user = input("enter a text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

enter a text: 만나게 돼서 반가워요
['Korean']